<%- include('../partials/header') %>
<div id="profileUSR"><!--This Div for user profile related things-->
    <img src="<%=User[0].userIcon%>" alt="user profile">
    <h1><%=User[0].name%></h1>
    <p><%=User[0].userEmail %> </p>
    <!-- <p>user since 04/07/1999</p> -->
</div>
<div id="collectionUSR"><!--This Div for user collection related things-->
    <% if(!Products.length) { %>
        <p>There are no articles available yet.</p>
    <% } else { Products.forEach ( (product, index) => {%>
        <div id="productUSR">
            <img src="<%=product.image%>">
            <p><%=product.name%> : $<%=product.price%></p>
            <p><%=product.listed%></p>
            <form method="GET" action="/<%=product._id%>/edit">
                <button>Edit</button>
            </form>
            <form method="POST" action="/user/delete/<%=product._id%>?_method=DELETE">
                <button>Delete</button>
            </form>
        </div>
    <% })} %> 
    <button id="collectionNewUSR">New Product(no function yet)</button>
    <!-- <p><%=//(Products[0].name);%> </p> -->
    <%=//console.log(User)%> 
    <%- include('./newPartial') %>
    <p>/////////////////////////////////////////////</p>
</div>
<%- include('../partials/footer') %>
<%=console.log(page)%>