<%- include('../partials/header') %>
<div id="profileUSR"><!--This Div for user profile related things-->
    <form action="/user/update" method="POST">
    <img src="<%=User[0].userIcon%>" alt="user profile">
    <input class="profileUpdate" type=text name="userIcon" value="<%=User[0].userIcon%>">
    <h1><%=User[0].name%></h1>
    <input class="profileUpdate" type=text name="userName" value="<%=User[0].name%>">
    <p><%=User[0].userEmail %> </p>
    <input class="profileUpdate" type=text name="userEmail" value="<%=User[0].userEmail %>">
    <button class="profileUpdate" id="profileUpdateButton">Update Profile</button>
    </form>
    <button id="profileEditButton">Edit Profile</button>
    <!-- <p>user since 04/07/1999</p> -->
</div>

<div id="collectionUSR"><!--This Div for user collection related things-->
    <% if(!Products.length) { %>
        <p>There are no Products available yet.</p>
    <% } else { Products.forEach ( (product, index) => {%>
        <div id="productUSR">
            <img src="<%=product.image%>">
            <p><%=product.name%> : $<%=product.price%></p>
            <%if(product.listed){%> 
                <p>listed</p>
            <% } %>  
            <form method="GET" action="/product/<%=product._id%>/edit">
                <button id="editProductButton">Edit</button>
            </form>
            <form method="POST" action="/user/delete/<%=product._id%>?_method=DELETE">
                <button id="deleteProductButton">Delete</button>
            </form>
        </div>
    <% })} %> 
    </div>
    <div id="newItemCardUSR" >
    <%- include('./newPartial') %>
    </div>
    <button id="deleteProfileButton">Delete Profile</button>
    <form  method="POST" action="/user/deleteuser/<%=user2.id%>?_method=DELETE">
        <input id="deleteProfileConfirm" type="submit" value="Delete Profile">
    </form>
    <button id="deleteProfileCancel">Cancel</button>
</div>
<%- include('../partials/footer') %>
