<!--This is a partial view that sits over top of the user.
It allows the user to edit an item.-->
<%- include('../partials/header') %>
<section>
    <h2>Product Info</h2>
    <a href="<%= Product._id %>/edit">Edit</a>
    <ul>
        <li>Product name: <%= Product.name %></li>
        <li>Product price: <%= Product.price %></li>
        <!--<li>Owner: <%= //Products.user2.name %></li>
    </ul>-->
</section>
<!--<form action="/user/<%= //Product._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete Article" />
</form>
<%- include('../partials/footer') %>