<!--This is a partial view that sits over top of the user.
It allows the user to edit an item.-->
<%- include('../partials/header') %>
<section>
    <h2>Product Info</h2>
    <a href="<%= Product._id %>/edit">Edit</a>
    <ul>
        <li>Product name: <%= Product.name %></li>
        <li>Product price: <%= Product.price %></li>
        
    </ul>
</section>
<%- include('../partials/footer') %>