<%- include('../partials/header') %>

    <h1> Welcome to the Intangicart Shop</h1>
</div>
<div id="shopSHP">
    <div id="shopGridSHP">
        <!-- provides a maximum of 21 items to the shop from the item collection by retrieving name, image, and price as well as a link -->
        
        <%for(i=0;i<Math.min(Products.length,21);i++){%>
            <%const product=Products[i]%> 
        <div class="shopCardSHP">
            <%if(product.image){%>
                <img src="<%=product.image%>">
            <%}else{%>
                <img src="/imgs/sitemedia/chup.png">
            <%}%>
            <span>
            <h2><%=product.name%></h2>
            <p><%=product.price%></p>
            <form action="/<%=product._id%>/confirm" method="GET">
    
                <input id="purchaseButton" type="submit" value="Purchase" />
            </form>

            </span>
        </div>
        
        <%} %>
        
          
    </div>
</div>

   
<%- include('../partials/footer') %>