<%- include('../partials/header') %>

    <h1> Welcome to the Intangicart Shop</h1>
</div>
<div id="shopSHP">
    <div id="shopGridSHP">
        <!-- for 6 random items in item collection retrieve name, image, and price as well as a link -->
        
        <%for(i=0;i<6;i++){%>
            
            <%const product=Products[Math.floor(Math.random()*Products.length)];%> 
        <div class="shopCardSHP">
           
            <img src="/imgs/sitemedia/chup.png">
            <span>
            <h2><%=product.name%></h2>
            <!-- REVIEW SET BELOW TO PRICE -->
            <p><%=product.price%></p>
            <form action="/<%=product._id%>/confirm" method="GET">
    
                <input id="purchaseButton" type="submit" value="Purchase" />
            </form>

           <!-- <button id="TestButton"> Purchase </button> -->
            
            </span>
        </div>
        
        <%} %>
        
          
    </div>
</div>


   <!-- <button id="TestButton">TestButton</button> -->

   
<%- include('../partials/footer') %>